torch
langchain
markdown2
langchain_openai
langchain_experimental
langchain_huggingface
hnswlib
questionary
accelerate
bitsandbytes
optimum
auto-gptq; sys_platform != 'darwin'
python-magic
mkdocstrings-python
sentencepiece
sentence_transformers
pymarkdownlnt
peft
gguf