torch
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.63
langchain-experimental==0.3.4
langchain-huggingface==0.2.0
langchain-openai==0.3.19
langchain-text-splitters==0.3.8
markdown2
hnswlib==0.8.0
questionary
accelerate
bitsandbytes
optimum
auto-gptq; sys_platform != 'darwin'
python-magic
mkdocstrings-python
sentencepiece
sentence_transformers
pymarkdownlnt
peft
gguf