torch
langchain 
markdown2 
langchain_openai 
langchain_experimental 
hnswlib
questionary
accelerate
bitsandbytes 
optimum 
auto-gptq; sys_platform == 'linux'
python-magic 
sentence_transformers
pymarkdownlnt